.sign-in-screen {
  display: grid;
  place-items: center;
  width: 400px;

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: darkblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #0000ab;
  }

  .container {
    flex-grow: 1;
    display: flex;
    align-items: center;

    p {
      font-size: 2.8rem;
      text-align: center;
      margin-bottom: 10px;
    }

    .innerContainer {
      border-radius: 5px;
      background-color: #fff;
      padding: 20px;
      height: fit-content;
      border: 2px solid #ccc;

      form {
        margin: 0;
      }

      label {
        span[required] {
          color: red;
          vertical-align: super;
          margin-left: 5px;
        }
      }

      span {
        font-size: 14px;
      }

      .sign-in-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        p {
          font-size: 2rem;
        }
        label {
          font-size: 1rem;
          color: #1d3557;
        }
        .strong {
          color: #1d3557;
          font-weight: 600;
        }
      }

      .sign-in-actions-container {
        display: flex;
        gap: 20px;
        align-items: center;
      }

      .errContainer {
        margin-top: 1rem;
        border-radius: 5px;
        padding: 20px;
        height: fit-content;
        background-color: #fcdede;
        border: 1px solid #fcdede;
        color: rgb(222, 9, 9);
      }

      .successContainer {
        margin-top: 1rem;
        border-radius: 5px;
        padding: 20px;
        height: fit-content;
        background-color: #defce3;
        border: 1px solid #defce3;
        color: rgb(12, 116, 12);
        text-align: center;
      }
    }
  }
}
