.error-container {
  margin-top: 5px;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  height: fit-content;
  background-color: #fcdede;
  border: 1px solid #fcdede;
  color: rgb(222, 9, 9);
}

.success-container {
  margin-top: 5px;
  border-radius: 5px;
  padding: 20px;
  max-width: 500px;
  height: fit-content;
  background-color: #defce3;
  border: 1px solid #defce3;
  color: rgb(12, 116, 12);
}
