.product-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
  width: 100%;
  height: 100%;
  min-height: 760px;
  padding: 0 200px;

  .product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    column-gap: 20px;
    padding: 20px;

    img {
      height: 400px;
      width: 400px;
      display: flex;
      align-self: flex-start;
    }

    .product-details__container {
      display: flex;
      align-self: flex-start;
      justify-content: center;
      flex-direction: column;
      row-gap: 1rem;

      label {
        font-weight: bold;
      }

      .product-details__title {
        font-weight: 600;
        font-size: 1.5rem;
      }

      .product-details__description {
        display: flex;
        flex-direction: column;
      }

      .product-details__category {
        span {
          text-transform: capitalize;
          margin-left: 5px;
        }
      }

      .product-details__price {
        display: flex;
        justify-content: flex-start;
        font-weight: 600;

        .price-value {
          font-size: 1.5rem;
          padding-left: 1px;
          margin-top: -3px;
        }
      }

      .product-details__ratings {
        span {
          margin-left: 5px;
        }
      }

      .product-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }
}
