.form-screen {
  display: grid;
  place-items: center;
  width: 400px;
  margin-top: 2rem;

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: darkblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #0000ab;
  }

  .container {
    flex-grow: 1;
    display: flex;
    align-items: center;

    p {
      margin-bottom: 10px;
    }

    .innerContainer {
      border-radius: 4px;
      background-color: white;
      padding: 20px;
      height: fit-content;
      border: 1px solid #ddd;
      box-shadow: 0 4px 8px #0000001a;

      form {
        margin: 0;
      }

      label {
        span[required] {
          color: red;
          vertical-align: super;
          margin-left: 5px;
        }
      }

      span {
        font-size: 14px;
      }

      .form-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        p {
          font-size: 1.5rem;
        }
        label {
          font-size: 14px;
          color: #1d3557;
        }
        .strong {
          font-weight: 600;
        }
      }

      .form-actions-container {
        display: flex;
        gap: 20px;
        align-items: center;
      }
    }
  }
}
