/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: darkblue;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  cursor: pointer;
  padding: 8px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #ddd;
  text-decoration: underline;
}

// .nav-link:active {
//   color: red;
// }
