/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  cursor: pointer;
  padding: 8px;
  color: #fff;
  text-decoration: none;
}

// .nav-link:hover {
//   text-decoration: underline;
// }

.logout-button {
  cursor: pointer;
  padding: 8px;
  color: #fff;
  background-color: #f00;
  border: none;
  border-radius: 5px;
}
