.product-details-container {
  display: flex;
  justify-content: center;
  margin: 1rem;

  .product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    column-gap: 5rem;
    height: 500px;
    max-width: 1000px;

    img {
      height: 400px;
      width: 400px;
      display: flex;
      align-self: flex-start;
    }

    .product-details__container {
      display: flex;
      align-self: flex-start;
      justify-content: center;
      flex-direction: column;
      row-gap: 1rem;

      label {
        font-weight: bold;
      }

      .product-details__title {
        font-weight: 900;
        font-size: xx-large;
      }

      .product-details__description {
        display: flex;
        flex-direction: column;
      }

      .product-details__category {
        span {
          text-transform: capitalize;
          margin-left: 5px;
        }
      }

      .product-details__price {
        span {
          font-size: xx-large;
          color: green;
          font-weight: bolder;
        }
        span:before {
          content: '$';
        }
      }

      .product-details__ratings {
        span {
          margin-left: 5px;
        }
      }

      .product-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        button {
          all: unset;
          cursor: pointer;
          font-weight: bold;
          background-color: #ffa500a1;
          padding: 5px;
          border-radius: 4px;
          color: #3f3e3d;
        }

        button:hover {
          background-color: orange;
        }

        button:active {
          background-color: orange;
          box-shadow: 0 5px white;
          transform: translateY(2px);
        }
      }
    }
  }

  @media (max-width: 500px) {
    .product-details {
      display: flex;
      padding: 2rem;
      column-gap: 5rem;
      width: 100%;
      flex-wrap: wrap;
      row-gap: 1rem;

      a {
        text-decoration: none;
      }

      img {
        height: 300px;
        width: 300px;
        display: flex;
        align-self: flex-start;
      }
    }
  }
}
