.search-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin: 0;

  input[type="text"] {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    resize: vertical;
    width: 400px;
    height: 100%;
    padding: 10px;
  }

  input[type="text"]:focus {
    outline: none;
  }

  input[type="submit"] {
    background-color: #eeeefd;
    color: darkblue;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .search-input {
    padding-right: 3rem !important;
  }

  .clear-search {
    all: unset;
    position: relative;
    margin-left: -2rem;
    margin-right: 2rem;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
      background-color: transparent;
    }
  }

  .show-clear-search {
    color: grey;
  }
}
