.link {
  text-decoration: none;
  cursor: pointer;
}

.sign-up-screen {
  margin-top: 4rem;
  display: grid;
  place-items: center;
  height: 70vh;

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: rgb(35, 32, 204);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

  input[type="submit"]:hover {
    background-color: #1d3557;
  }

  .header {
    background-color: black;
    width: 100%;
    padding: 20px;

    p {
      font-weight: bold;
      font-size: 20px;
      color: white;
    }
  }

  .container {
    flex-grow: 1;
    display: flex;
    align-items: center;

    p {
      font-size: 2.8rem;
      text-align: center;
      margin-bottom: 10px;
    }

    label {
      font-size: 1.6rem;
    }

    .innerContainer {
      border-radius: 5px;
      background-color: #fff;
      padding: 20px;
      max-width: 500px;
      height: fit-content;
      border: 2px solid #ccc;

      span {
        font-size: 14px;
      }

      .sign-up-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
      }

      .errContainer {
        margin-top: 5px;
        border-radius: 5px;
        padding: 20px;
        max-width: 500px;
        height: fit-content;
        /* flex-grow: 1; */
        background-color: #fcdede;
        border: 1px solid #fcdede;
        color: rgb(222, 9, 9);
      }
    }
  }
}
