body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-container {
  background-color: #3f3e3d;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  color: white;
  width: 30%;

  i {
    z-index: 10;
    cursor: pointer;
  }

  span {
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    margin-left: 10px;
    background: #ff5100;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.header-items {
  display: flex;
  padding: 1rem;
  justify-content: flex-end;
  width: 60%;

  a {
    text-decoration: none;
  }
}

@media (max-width: 400px) {
  .header-items {
    display: flex;
    padding: 1rem;
    background-color: #3f3e3d;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 1rem;

    a {
      text-decoration: none;
    }
  }
}

.header-item {
  margin-right: 1rem;
  cursor: pointer;
  color: white;
  text-transform: capitalize;
}

.header-item-seelcted {
  color: orange;
  font-weight: bold;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  object-position: center;
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2rem;

  a {
    text-decoration: none;
  }
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 400px) {
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
  }
}

.product {
  width: 220px;
  border: 1px solid #e2e2e2;
  margin: 5px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: space-between;
  row-gap: 10px;

  a {
    cursor: pointer;
    img {
      height: 220px;
      width: 220px;
    }
  }

  .prouct-info {
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex-wrap: nowrap;
    align-items: center;

    height: 150px;
    width: 220px;
    justify-content: flex-end;

    .product-title {
      color: #635c5c;
      display: flex;
      justify-content: center;
    }

    .product-price {
      color: green;
      display: flex;
      justify-content: center;
    }

    .product-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      button {
        all: unset;
        cursor: pointer;
        font-weight: bold;
        background-color: #ffa500a1;
        padding: 5px 10px;
        border-radius: 4px;
        color: #3f3e3d;
      }

      button:hover {
        background-color: orange;
      }

      button:active {
        background-color: orange;
        box-shadow: 0 5px white;
        transform: translateY(2px);
      }
    }
  }
}

.no-items-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-top: 5rem;
}
